@import "../../styles/variables.css";

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 5px 85px; */
  /* padding: 2vw; */
  font-size: 1.5rem;
  /* padding: 1rem; */
  background-color: var(--headerColor);
}

header img {
  height: 70px;
}

.home-ul a {
  font-size: 0.9rem; /* Smaller font size */
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
  transition: color 0.3s, transform 0.3s;
}

.home-ul a:hover {
  transform: scale(1.05); /* Slight zoom effect */
}

.home-ul a:active {
  transform: scale(1); /* Reset zoom on click */
}
